node_modules/
node_modules
client/node_modules
server/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/

.DS_Store
*.swp
*.swo

logs/
*.log
*.log.*

.vscode/

*.env
*.env.*.local

.eslintcache
.prettiercache